<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Poor+Story|Fredoka+One" rel="stylesheet"> 
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>Gudetamagochi</title>
</head>
<body>
    <p>Welcome to</p>
    <h1>Gudetamagochi</h1>
    <img src="/images/welcome.png">
    <p>This is a tamagochi like application, where you can have your own Gudetama!</p>
    <p>If you don't know what tamagochi is, click
        <a href="https://en.wikipedia.org/wiki/Tamagotchi" target="_blank">here!</a></p>
    <p>If you don't know who Gudetama is, click
        <a href="https://en.wikipedia.org/wiki/List_of_Sanrio_characters#Gudetama_(2013)" target="_blank">here!</a></p>
    <p>You can feed your tama with delicious dishes and amazing drinks, and you can also teach tricks to it!<br>
        First of all, please click the button below and log in, so you can get your tama!</p>
    <a href="/login">Log in!</a>
</body>
</body>
</html>