<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Poor+Story|Fredoka+One" rel="stylesheet"> 
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>Gudetamagochi</title>
</head>
<body>
    <h1>Gudetamagochi</h1>
    <div id="menu">
    <ul>
        <li><a href="">Information</a></li>
        <li><a href="trickcenter.html">Trick Center</a></li>
    </ul>
    </div>
    <img src="/images/gudetama.png">
    <p> This is Gudetama! <br>
    Currently living on food and drink. He knows number tricks.</p>

    <h3>Known tricks</h3>
    <ul>
        <li>vmi</li>
        <li>vmi</li>
     </ul>
</body>
</html>