<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Learn tricks!</title>
    <link href="https://fonts.googleapis.com/css?family=Poor+Story" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
    <h2>Welcome to the center of lazy and cool tricks!</h2>
    <p>Select a trick that you want to sluggishly learn! </p>
    <form action="#" th:action="'/' + ${gudetama.name} + '/learn'" method="post">
        <select name="newtrick" label="Tricks">
            <option th:each="oneTrick: ${trickList}" th:text="${oneTrick.trickName}" th:value="${oneTrick.trickName}"></option>
        </select>
        <input type="submit" value="Learn!">
    </form>
    <div id="back">
        <a th:href="'/' + ${gudetama.name}">Back</a>
    </div>
</body>
</html>